/* font */
@import url('https://fonts.googleapis.com/css2?family=Codystar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');

* {
    box-sizing: border-box;
    border: 1px solid white;
}

html {
    background: linear-gradient(25deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}

h1 {
    font-family: Codystar;
    color: white;
    font-size: 6em;
    margin-top: 0;
    text-align: center;
    text-shadow: 0 0 15px #fff;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.container2 {
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

/* canvas {
    max-width: 60%;
} */

#resetAll {
    position: absolute;
    top: 60vh;
    left: 50%;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: crimson;
    border: 1px solid #212121;
    text-transform: uppercase;
    transform: translate(-50%, 0);
    font-family: monospace;
    font-size: 1.5rem;
    cursor: pointer;
    color: #fff;
}

#resetAll:focus, #resetAll:hover {
    background-color: crimson;
}

.image {
    position: absolute;
    top: 5vh;
    left: 20vw;
    height: 50vh;
    width: 70vw;
    overflow: hidden;
}

#imageCanvas2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: auto;
}

.sliders {
    position: absolute;
    float: none;
    left: 5vw;
    width: 90vw;
}

.singleSlider {
    width: 8vw;
    padding: 0;
}

.slider {
    position: relative;
    width: 20vh;
    top: 5vh;
    transform-origin: 0 0;
}

label {
    position: relative;
    font-family: monospace;
    text-transform: uppercase;
}

.val {
    position: relative;
    display: block;
    font-family: monospace;
    height: 16px;
    width: 100%;
    text-align: right;
    visibility: hidden;
}

input[type="range"] {
    -webkit-appearance: none;
    background: transparent;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-ms-track {
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type="range"]::-webkit-slider-runnable-track {
    height: 2px;
    cursor: pointer;
    background: crimson;
    margin-top: 10px;
}

input[type="range"]::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background: #212121;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -9px;
}

input[type="range"]::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: #fff;
}

input[type="range"]::-moz-range-thumb {
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background: #212121;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -9px;
}

input[type="range"]::-ms-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: #fff;
}

input[type="range"]::-ms-thumb {
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background: #212121;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: 0px;
}

button, p{
    display: inline-block;
    border: none;
    margin: 0;
    text-decoration: none;
    padding: 0;
    background: none;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    overflow: hidden;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

button:focus {
    outline: none;
    color: black;
}

textarea:focus {
    outline: none;
}

select:focus {
    color: #000;
}

.footer {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.25));
    position: fixed;
    width: fit-content;
    left: 0;
    right: 0;
    bottom: 0.5em;
    padding: 5px 1em 5px 1em;
    border-radius: 0.5em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    transition: 500ms ease;
}

.footer a {
    border: none;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    font-family: 'Lato';
}

.footer:hover {
    transform: scale(1.1);
}