/* font */
@import url('https://fonts.googleapis.com/css2?family=Codystar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');

* {
    box-sizing: border-box;
    /* border: 1px solid white; */
}

#uploadText {
    font-family: 'Lato';
    color: white;
    font-size: 2em;
    text-decoration: underline;
}

#fileInput {
    display: none;
}

.custom-file-input {
    display: block;
    padding: 10px;
    cursor: pointer;
}

html {
    background: linear-gradient(25deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}

h1 {
    font-family: Codystar;
    color: white;
    font-size: 6em;
    margin-top: 0;
    text-align: center;
    text-shadow: 0 0 15px #fff;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

#output {
    visibility: none;
    width: 65%;
    max-width: 800px;
}

#controls {
    margin-top: 10px;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.singleSlider {
    color: white;
    font-family: 'Lato';
    border-bottom: 1px solid white;
}

.singleSlider:first-child {
    border-top: 1px solid white;
}

#resetAll {
    font-family: 'Lato';
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 5px;
    margin-top: 1em;
    transition: 500ms ease;
    border-radius: 5px;
}

#resetAll:hover {
    transform: scale(1.1);
    background-color: white;
    color: rgba(0, 0, 0, 0.7);
}